@media screen and (min-width: 981px) {

    #main > .posts > * {
        width: 25%;
    }

    /* Standard rammer */
    #main > .posts > article {
        border-left-width: 2px;
        border-top-width: 2px;
    }

    /* Første kolonne i hver rad */
    #main > .posts > article:nth-child(4n + 1) {
        border-left-width: 0;
    }

    /* Første rad */
    #main > .posts > article:nth-child(-n + 4) {
        border-top-width: 0;
    }

    /* Overstyr gammel 3-kolonne-logikk eksplisitt */
    #main > .posts > article:nth-child(3n - 2) {
        border-left-width: 2px;
    }

    /* Men behold første element uten venstrekant */
    #main > .posts > article:first-child {
        border-left-width: 0;
    }
}

@media screen and (max-width: 736px) {

	#main > .posts > article {
		width: 100% !important;
		border: 1px solid #eeeeee !important;
		margin-bottom: 1.5rem;
	}

	#main > .posts > article:first-child,
	#main > .posts > article:nth-child(n) {
		border: 1px solid #eeeeee !important;
	}
}
