@media screen and (min-width: 981px) {
	#main > .posts > * {
		width: 25%;
	}
}

@media screen and (min-width: 981px) {

    #main > .posts > * {
        width: 25%;
    }

    /* Gjenopprett venstre ramme på alle kort */
    #main > .posts > article {
        border-left-width: 2px;
    }

    /* Fjern venstre ramme på første kolonne i hver rad */
    #main > .posts > article:nth-child(4n + 1) {
        border-left-width: 0;
    }

    /* Gjenopprett toppramme */
    #main > .posts > article {
        border-top-width: 2px;
    }

    /* Fjern toppramme på første rad */
    #main > .posts > article:nth-child(-n + 4) {
        border-top-width: 0;
    }

}
